.card-container {
  display: flex;
  gap: 1rem;
  padding: 1rem;
  width: 100%;
}

.card-container form {
  display: flex;
  flex-direction: column;
}

.button-container {
  display: flex;
  gap: 1rem;
  width: 100%;
}